<ul class="mobile-nav dj_custom" id="MobileNav">
  {% unless linklists[section.settings.menu].links.first.url == '/' %}
  <li class="large--hide">
    <a href="/">{{ 'general.breadcrumbs.home' | t }}</a>
  </li>
  {% endunless %}
  
  {% for link in linklists[section.settings.menu].links %}
    {% if link.links != blank %}
      {% assign parent_index = forloop.index %}
      <li 
        class="mobile-nav--has-dropdown {% if link.active %}mobile-nav--active{% endif %}"
        aria-haspopup="true">
        <a
          href="{{ link.url }}"
          class="mobile-nav--link"
          data-meganav-type="parent"
          aria-controls="MenuParent-{{ parent_index }}"
          aria-expanded="false"
          {% unless template.name == 'index' %}{% if link.active %}aria-current="page"{% endif %}{% endunless%}>
            {{ link.title | escape }}
            <span class="icon icon-arrow-down" aria-hidden="true"></span>
        </a>
        <ul
          id="MenuParent-{{ parent_index }}"
          class="mobile-nav--dropdown {% if link.levels == 2 %}mobile-nav--has-grandchildren{% endif %}"
          data-meganav-dropdown>
          {% for childlink in link.links %}
            {% if childlink.links != blank %}
            {% assign child_index = forloop.index %}
              <li
                class="mobile-nav--has-dropdown mobile-nav--has-dropdown-grandchild {% if childlink.active %}mobile-nav--active{% endif %}"
                aria-haspopup="true">
                <a
                  href="{{ childlink.url }}"
                  class="mobile-nav--link"
                  aria-controls="MenuChildren-{{ parent_index }}-{{ child_index }}"
                  data-meganav-type="parent"
                  {% unless template.name == 'index' %}{% if childlink.active %}aria-current="page"{% endif %}{% endunless%}>
                    {{ childlink.title | escape }}
                    <span class="icon icon-arrow-down" aria-hidden="true"></span>
                </a>
                <ul
                  id="MenuChildren-{{ parent_index }}-{{ child_index }}"
                  class="mobile-nav--dropdown-grandchild"
                  data-meganav-dropdown>
                  {% for grandchildlink in childlink.links %}
                    <li{% if grandchildlink.active %} class="mobile-nav--active"{% endif %}>
                      <a 
                        href="{{ grandchildlink.url }}"
                        class="mobile-nav--link"
                        data-meganav-type="child"
                        {% unless template.name == 'index' %}{% if grandchildlink.active %}aria-current="page"{% endif %}{% endunless %}>
                          {{ grandchildlink.title | escape }}
                        </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li{% if childlink.active %} class="mobile-nav--active"{% endif %}>
                <a
                  href="{{ childlink.url }}"
                  class="mobile-nav--link"
                  data-meganav-type="child"
                  {% if childlink.active %}aria-current="page"{% endif %}>
                    {{ childlink.title | escape }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
    {% else %}
      <li{% if link.active %} class="mobile-nav--active"{% endif %}>
        <a
          href="{{ link.url }}"
          class="mobile-nav--link"
          data-meganav-type="child"
          {% unless template.name == 'index' %}{% if link.active %}aria-current="page"{% endif %}{% endunless%}>
            {{ link.title | escape }}
        </a>
      </li>
    {% endif %}
  {% endfor %}

  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <li class="customer-navlink large--hide"><a href="/account">{{ 'layout.customer.view_account' | t }}</a></li>
      <li class="customer-navlink large--hide">{{ 'layout.customer.log_out' | t | customer_logout_link }}</li>
    {% else %}
      <li class="customer-navlink large--hide">{{ 'layout.customer.sign_in' | t | customer_login_link }}</li>
      <li class="customer-navlink large--hide">{{ 'layout.customer.create_account' | t | customer_register_link }}</li>
    {% endif %}
  {% endif %}
  <li class="parent"><a >Categories <img src="https://cdn.shopify.com/s/files/1/0007/0913/2346/files/arrow-down.png" width="20" style="    position: absolute;
    margin-left: 10px;"></a>
    <ul class="submenu">  
  {% for collection in collections %}
  
  <li classs="customer-navlink large--hide">
    <a href="{{ collection.url }}" >
      {{ collection.title }}
    </a>
  </li>

  {% endfor %}
    </ul>
   
  </li>
  <li class="parent"><a>About Us <img src="https://cdn.shopify.com/s/files/1/0007/0913/2346/files/arrow-down.png" width="20" style="    position: absolute;
    margin-left: 10px;"></a>
   <ul class="submenu">
          {% for link in linklists['footer-2'].links %}
            <li classs="customer-navlink large--hide"><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
  </li>
  <br/><br/><br/>
  <div class="mobile">
   
   <div class="doubly-wrapper"></div>
  </div>  
  <br/><br/><br/><br/><br/><br/><br/>
</ul>
